span.country-flag {color:#000;font-weight:normal;font-size:10px;}
span.country-flag img {padding-top:4px;vertical-align:-10%;}
span.WB-OS {color:#000;font-weight:normal;font-size:10px;}
span.WB-OS img {padding-top:4px;vertical-align:-15%;width:14px;height:14px;}